/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/06/2016, 14:20:40
    Author     : Thayna
*/

@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../img/fundo-fisioterapia.jpg);
	margin: 0px;
	background-attachment: fixed;
}
.container {
	width: 1200px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
}
.full {
	width: 100%;
	float:right;
}
.transparencia {
	background-color: rgba(255,255,255,0.7);
}
#logo {
	float: left;
	margin-top: -20px;
	margin-bottom: -30px;
}
.menu {
	float: right;
	margin-right: 0px;
}
.menu ul li {
	float: left;
	list-style-type: none;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #333;
	margin-right: 20px;
	margin-left: 20px;
	line-height: 70px;
	padding: 0px;
}
.menu ul {
	margin: 0px;
	padding: 0px;
}
#barra {
	background-color: rgba(255,255,255,0.8);
	float: left;
	height: 600px;
	width: 246px;
	margin-top: 2px;
}
#conteudo {
	float: right;
	width: 750px;
	padding-top: 20px;
	padding-right: 25px;
	padding-bottom: 20px;
	padding-left: 25px;
	background-color: rgba(255,255,255,0.8);
	margin-top: 40px;
}
.coluna {
	float:right;
	width: 140px;
	margin: 0 55px; 
}
